.file-input input {
    font-size: 0 !important;
}

.input-small+.select2-container,
.input-small {
    width: 30% !important;
}

.input-medium+.select2-container,
.input-medium {
    width: 50% !important;
}

.input-large+.select2-container,
.input-large {
    width: 70% !important;
}

.input-xlarge+.select2-container,
.input-xlarge {
    width: 90% !important;
}

.form-control-feedback {
    right: 0;
    left: auto;
}

.has-feedback .form-control {
    padding-right: 42.5px;
    padding-left: 12px;
    direction: ltr;
}

.single-file-upload {
    position: relative;
}

.flash-message-container {
    padding: 10px 20px;
    position: fixed;
    right: 35%;
    text-align: center;
    top: 50px;
    width: 30%;
    z-index: 2000000;
}

.content-header {
    width: 100%;
    height: 100%;
    padding: 15px 15px 0px 15px;
}

.content-header h1 {
    font-size: 24px !important;
}

.breadcrumb {
    position: relative;
    top: 0;
    left: 0;
    right: auto;
    float: none;
    background: #F7F7F7;
    padding-right: 10px;
}

.empty-row {
    height: 40px;
}

.navbar-right a {
    height: 55px;
}

label {
    font-weight: 500 !important;
}

ul.timeline li {
    position: relative !important;
    clear: both !important;
    border-bottom: 0px solid #eaeaea !important;
}

@media (max-width: 358px) {
    #user-email {
        display: none;
    }
}

.tile-stats {
    position: relative;
    border: 1px solid #34495e !important;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    margin: 0 10px 0 0;
    z-index: 5;
    padding: 0;
}

.tile-stats h4 {
    color: #34495e !important;
    margin: 0px 15px 0px 0px !important;
    ;
    z-index: 5;
    padding: 0px;
    position: relative;
    padding-bottom: 4% !important;
    ;
}

.tile-stats .icon {
    width: 20px;
    height: 20px;
    color: #34495e !important;
    position: absolute;
    left: 52px !important;
    top: 20px !important;
    z-index: 1;
}

footer {
    position: inherit !important;
}

.nav-md .container.body .right_col {
    padding: 10px 20px 1px;
}

.horizontal-menu-buttons {
    margin-top: 10px;
    min-width: 70px;
}

.logout-button,
.user-email {
    float: left;
    margin: 15px;
}

span.export-grid-btn {
    font-size: 25px;
}

.nav_menu {
    height: 90px;
}

ul.dropdown-menu-right {
    left: auto !important;
}

.dropdown-menu a {
    font-size: 15px;
}

.nav_menu {
    position: fixed;
    z-index: 100;
}


.nav_menu .pull-left {
    margin-left: 20%;
    margin-top: 1%;
}

.breadcrumb {
    background-color: #EDEDED;
    position: fixed;
    margin-top: 12px;
}

.title h1 {
    font-size: 20px;
}

.title {
    text-align: center;
    margin-left: 270px;
}

.go-top {
    position: fixed;
    bottom: 2em;
    right: 96%;
    text-decoration: none;
    color: white;
    background-color: #f6f6f6;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 12px;
    padding: 22px;
    border-radius: 3px;
    display: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.go-top:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.go-top i {
    height: 0;
    width: 0;
    position: absolute;
    top: 13px;
    left: 12px;
    border-bottom: 17px solid white;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.btn-top {
    min-width: 100px;
    margin-bottom: 15px;
}

.fixed-action-buttons {
    position: fixed;
    z-index: 9;
    top: 95px;
}

.nav_menu .horizontal-menu li.active {
    background: #d9dee4
}

.top_nav_fixed {
    background-color: #EDEDED;
    height: 90px;
    position: fixed;
    z-index: 9;
    width: 100%;
}

.right_col {
    padding-top: 100px !important;
}

.right_col_with_top_buttons {
    padding-top: 160px !important;
}
