@font-face {
    font-family: "dana-regular";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/eot/dana-regular.eot");
    src: url("../fonts/eot/dana-regular.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/woff2/dana-regular.woff2") format("woff2"),
        url("../fonts/woff/dana-regular.woff") format("woff");
}
@font-face {
    font-family: "dana-bolditalic";
    font-style: italic;
    font-weight: bold;
    src: url("../fonts/eot/dana-bolditalic.eot");
    src: url("../fonts/eot/dana-bolditalic.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/woff2/dana-bolditalic.woff2")
            format("woff2"),
        url("../fonts/woff/dana-bolditalic.woff") format("woff");
}
@font-face {
    font-family: "dana-regularitalic";
    font-style: italic;
    font-weight: normal;
    src: url("../fonts/eot/dana-regularitalic.eot");
    src: url("../fonts/eot/dana-regularitalic.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/woff2/dana-regularitalic.woff2")
            format("woff2"),
        url("../fonts/woff/dana-regularitalic.woff")
            format("woff");
}
@font-face {
    font-family: "BYekan";
    src: url("../fonts/eot/BYekan.eot");
    src: url("../fonts/eot/BYekan.eot?#") format("eot"),
        url("../fonts/woff/BYekan.woff") format("woff"),
        url("../fonts/woff2/BYekan.ttf") format("truetype");
}
@font-face {
    font-family: "nassim-bold";
    src: url("../fonts/eot/nassim-bold.eot");
    src: url("../fonts/eot/nassim-bold.eot?#") format("eot"),
        url("../fonts/woff/nassim-bold.woff") format("woff"),
        url("../fonts/woff2/nassim-bold.ttf") format("truetype");
}

body {
    font-family: "IRANSans_FaNum";
}

.file-input input {
    font-size: 0 !important;
}

.input-small + .select2-container,
.input-small {
    width: 30% !important;
}

.input-medium + .select2-container,
.input-medium {
    width: 50% !important;
}

.input-large + .select2-container,
.input-large {
    width: 70% !important;
}

.input-xlarge + .select2-container,
.input-xlarge {
    width: 90% !important;
}

.form-control-feedback {
    right: 0;
    left: auto;
}

.has-feedback .form-control {
    padding-right: 42.5px;
    padding-left: 12px;
    direction: ltr;
}

.single-file-upload {
    position: relative;
}

.flash-message-container {
    padding: 10px 20px;
    position: fixed;
    right: 35%;
    text-align: center;
    top: 50px;
    width: 30%;
    z-index: 2000000;
}

.content-header {
    width: 100%;
    height: 100%;
    padding: 15px 15px 0px 15px;
}

.content-header h1 {
    font-size: 24px !important;
}

.breadcrumb {
    /* position: relative;
    top: 0;
    left: 0; */
    /* right: auto; */
    /* float: none; */
    background: #FFF;
    /* padding-right: 10px; */
}

#breadcrumb-popover-btn {
    background: #434343;
    color: #ffffff;
    margin-right: 50px;
    margin-top: 10px;
    border-radius: 20px;
}

.popover {
    font-family: "IRANSans_FaNum";
    color: #ffffff;
    background: #434343;
}

.popover.right .arrow:after {
    border-right-color: #434343;;
}

.popover .popover-content .breadcrumb,
.popover .popover-content .breadcrumb li,
.popover .popover-content .breadcrumb a {
    /* background: #ffffff; */
    color: #ffffff;
    background: #434343;
    margin-top: -10px;
}

.popover .popover-content .breadcrumb a {
    text-decoration: underline;
}

.empty-row {
    height: 40px;
}

.navbar-right a {
    height: 55px;
}

label {
    font-weight: 500 !important;
}

ul.timeline li {
    position: relative !important;
    clear: both !important;
    border-bottom: 0px solid #eaeaea !important;
}

@media (max-width: 358px) {
    #user-email {
        display: none;
    }
}

.tile-stats {
    position: relative;
    border: 1px solid #34495e !important;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    margin: 0 10px 0 0;
    z-index: 5;
    padding: 0;
}

.tile-stats h4 {
    color: #34495e !important;
    margin: 0px 15px 0px 0px !important;
    z-index: 5;
    padding: 0px;
    position: relative;
    padding-bottom: 4% !important;
}

.tile-stats .icon {
    width: 20px;
    height: 20px;
    color: #34495e !important;
    position: absolute;
    left: 52px !important;
    top: 20px !important;
    z-index: 1;
}

footer {
    position: inherit !important;
}

.nav_menu {
    min-height: 56px;
    height: 100%;
}

#horizontal-navbar {
    background-color: #ededed;
    border-color: #ededed;
}

.navbar-header {
    background-color: #ededed;
}

.breadcrumb {
    float: left;
    background-color: #ededed;
    margin-bottom: 0;
    padding: 10px 0 0 0 !important;
    left: 40px;
}

.breadcrumb > li + li::before {
    padding: 0 !important;
}

#menu_toggle {
    margin-right: 15px;
}

.circle {
    margin-bottom: 30px;
    height: 0;
    padding: 30% 0;
    padding-top: 15%;
    border-radius: 20%;
    background: #38a9e4;
    font-size: 30px;
    text-align: center;
    color: white;
}

.circle a {
    color: white;
}

.circle a:hover {
    color: white;
}

#horizontal-navbar ul.dropdown-menu {
    left: auto !important;
}


#horizontal-navbar-collapse {
    padding: 0 !important;
}

#horizontal-navbar-collapse li a{
    padding: 8px;
}

#horizontal-navbar-collapse li.dropdown ul.dropdown-menu li a{
    padding: 12px 20px;
}

#horizontal-navbar-collapse .dropdown-submenu {
    position: relative;
}

#horizontal-navbar-collapse .active.dropdown.dropdown-submenu.open a{
    color: #000000;
}

#horizontal-navbar-collapse .active.dropdown.dropdown-submenu.open ul li.active a{
    color: #ffffff;
}

#horizontal-navbar-collapse .dropdown-submenu > .dropdown-menu {
    top: 0;
    right: 100%;
    margin-top: -6px;
    margin-right: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}

#horizontal-navbar-collapse .dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: left;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 5px 5px 0px;
    border-right-color: #000000;
    margin-top: 5px;
    margin-right: 0px;
    margin-left: -10px;
}

#horizontal-navbar-collapse .dropdown-submenu:hover > a:after {
    border-right-color: #555;
}

#horizontal-navbar-collapse .pull-left.dropdown-submenu {
    float: none !important;
}

#horizontal-navbar-collapse .pull-left.dropdown-submenu > .dropdown-menu {
    right: -100%;
    margin-right: 10px;
    -webkit-border-radius: 6px 6px 6px 0px;
    -moz-border-radius: 6px 6px 6px 0px;
    border-radius: 6px 6px 6px 0px;
}

.navbar.nav_title .site_title.logout-button{
    font-size: medium;
    text-align: left;
}

.top_nav .nav_menu div.row.text-center h4{
    margin-top: 0;
    margin-bottom: 5px;
}

.top_nav div.nav_menu{
    margin-bottom: 0px !important;
}

.go-top {
    position: fixed;
    bottom: 2em;
    right: 96%;
    text-decoration: none;
    color: white;
    background-color: #f6f6f6;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 12px;
    padding: 22px;
    border-radius: 3px;
    display: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.go-top:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.go-top i {
    height: 0;
    width: 0;
    position: absolute;
    top: 13px;
    left: 12px;
    border-bottom: 17px solid white;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.action-button {
    min-width: 100px;
}

.tile-stats .title{
    margin: 0 10px 0 0;
    padding: 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 2.5;
}

.tile-stats .icon .fa {
    font-size: 40px;
    height: 13px;
    padding-right: 10px;
}
/* //////////////////// */

.nav_menu {
    position: fixed;
    top: 0;
    width: 95%;
    /* margin-bottom: 25px; */
    z-index: 9;
    height: 50px;
}

.right_col {
    padding-top: 65px !important;
}

h1.nad-page-title,
h2.nad-page-title,
h3.nad-page-title,
h4.nad-page-title {
    /* commented in favor of display: table */
    /*
    width: -moz-max-content;
    width: -webkit-max-content;
    text-align: center;
    */
    display: table;
    margin: 5px auto;
    padding: 0 0 3px 0;
    color: #3b5571;
}

h4.nad-page-title .nad-page-title-focus{
    border-bottom: 2px solid #3b5571;
}

.input-group-addon:last-child {
    border-right-width: 1px;
    border-right-style: solid;
    border-left: 0;
}

div.main_container .btn-group .dropdown-toggle.btn.nad-disabled,
div.main_container .btn-group .dropdown-menu li .btn[disabled],
div.main_container .action-button.btn.disabled,
div.main_container .action-button.btn[disabled],
div.main_container fieldset[disabled] .action-button.btn
{
    background-color: #434343 !important;
    border-color: #434343 !important;
    color: #f7f7f7;
}

.top_nav .dropdown-menu li a{
    padding: 0px;
}

.grid-view .ajaxview .glyphicon.glyphicon-eye-open,
.grid-view .fa.fa-tree {
    color: #31ac1e;
}

.grid-view .ajaxdelete .glyphicon.glyphicon-trash,
.grid-view .ajaxupdate .glyphicon.glyphicon-pencil {
    color:#ec971f;
}

.main_container .top_nav .nav_menu .nav.toggle {
    padding-right: 15px;
}

.btn-group.open .dropdown-menu{
    display: table;
}

.top_nav .nav_menu div[class^='col-sm-'],
.top_nav .nav_menu div[class*='col-sm-'] {
    width: 95%;
}

.dropdown-menu .divider{
    margin: 2px 0;
}

.btn.btn-group{
    padding: 0px;
}

hr {
    margin-top: 0px;
    margin-bottom: 10px;
    border: 0;
    height: 1px;
    background: #333;
    background-image: none;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.label {
    font-weight: 500;
}
.panel .panel-body{
    padding: 10px 15px 3px 15px;
}

.filemanager-widgets-file .input-group.single-file-upload input.form-control {
    z-index: 1;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: #d0d0d0;
}

.form-group.required label:after {
    content: " *";
    color: red;
}

.grid-view .table thead tr th
{
    text-align: center;
}

.grid-view .table tbody tr td {
    text-align: right;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #e1f7fe;
}

.grid-view .table thead td .input-group .input-group-addon.glyphicon {
    top: 0px;
}

body {
    color: #2b3541;
}

.popover{
    max-width:2000px;
    max-height:250px;
}

.panel-primary.panel .panel-heading .collapse-link .fa.fa-angle-down,
.panel-primary.panel .panel-heading .collapse-link .fa.fa-angle-up {
    color: #fff;
}

.noty_theme__nest.noty_bar .noty_body{
    text-align: center;
}

.alert {
    padding: 5px;
}
