a.close-slide-form-toggle:hover {
    background: transparent !important;
    cursor: pointer;
}
.loading-gif {
    position:fixed;
    z-index:1000;
    padding-top: 100px;
    text-align: center;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background: rgba( 255, 255, 255, .8) 50% 50% no-repeat;
}
.loading-gif i{
    color: #5e5e5e;
}
